.anotherProfileBox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px 100px;
}

@media (max-width: 787px) {
    .anotherProfileBox{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin: 20px 30px;
    }
}

.fixedImg {
    position: fixed;
    right: 80px;
    top: 130px;
    img {
        border-radius: 15px;
    }
}

@media (max-width: 787px) {
    .fixedImg {
        right: 20px; /* Зменшення відступу на мобільних */
        top: 100px; /* Регулювання відступу зверху */
        img {
            width: 80px; /* Зменшення розміру зображення */
        }
    }
}

