.wrapper {
  background-color: #fff;
  border-radius: 0.4rem;
  width: 225px;
  position: relative;
}
.imgBackground {
  width: 100%;
  height: 58px;
  background: url("./image/profile/profileBackgroundDefault.svg");
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
.avatarContainer {
  display: block;
  width: 72px;
  height: 72px;
}
